.heroContainer {
  display: flow-root;
  background-color: var(--nexus-surface-background);
  border-bottom: 1px solid var(--nexus-border);
}

.hero {
  display: grid;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding-block: 2rem;
}

.hero:hover .group {
  transform: scale(1.04);
}

@media (width >= 48rem) {
  .hero {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 1.5rem;
    padding-block: 3rem;
  }
}

@media (width >= 80rem) {
  .hero {
    gap: 2rem;
  }
}
